server:
  port: 8090
logging: 
  file: /home/logs/employee/employee.log
  level: 
    root: info
spring:
  datasource:
    url: jdbc:mysql://www.bandaotixi.cc:3306/bandaoti-employee
    username: employee
    password: test
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    max-active: 100
  redis:
    host: www.bandaotixi.cc
    password: bandaotixi..
mybatis:
  mapper-locations: classpath*:com/bandaoti/employee/mapper/*.xml
  type-aliases-package: com.bandaoti.employee.entity
pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql
wxapp:
    sessionHost: https://api.weixin.qq.com/sns/jscode2session
    appid: wxc24bfbff7c2bcaf8
    secret: 2796d0fbca1c5dc0b672c579aa4bd8dd
    token: bandaotixi_token
    encodingAesKey: AYTAcwJZApk5Dl4bCY23J0DfOtuvMHEw7Vm7su7bGVN
bandaotixi:
  host: www.test.employee.bandaotixi.cc