<div class="container">
	<div class="alert alert-danger" ng-hide="hideError">{{errorMsg}}</div>
	<div class="form-signin" ng-show="step=='login'">
		<h2 class="form-signin-heading">请登录</h2>
		<input type="text" class="form-control" ng-model="user.name" ng-change="checkMobile()" placeholder="手机号/身份证号/邮箱" autofocus="autofocus">
		<input type="password" class="form-control" ng-model="user.password" placeholder="密码">
		<span class="show-password" ng-touchstart="showPassword()" ng-touchend="hidePassword()"></span>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="true" name="rememberMe" checked="checked" ng-model="user.rememberMe" />记住我
			</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="button" ng-click="login()">登录</button>
		<div class="btn btn-lg btn-block" ng-click="step='regist'" >注册</div>
	</div>
	
	<div class="form-signin" ng-show="step=='regist'">
		<h2 class="form-signin-heading">注册</h2>
		<input type="text" class="form-control" ng-model="user.name" placeholder="手机号/身份证号/邮箱" ng-change="checkMobile()" autofocus="autofocus">
		<input type="password" class="form-control" ng-model="user.password" placeholder="密码">
		<span class="show-password" ng-touchstart="showPassword()" ng-touchend="hidePassword()"></span>
		<input type="text" class="form-control" ng-model="user.smsCode" placeholder="验证码/1234" ng-show="user.type=='mobile'">
		<input type="text" class="form-control" ng-model="user.username" placeholder="真实姓名">
		<button class="btn btn-lg btn-primary btn-block" type="button" ng-click="register()">注册</button>
		<div class="btn btn-lg btn-block" ng-click="step='login'" >登录</div>
	</div>
	
	<div class="form-signin" ng-show="step=='user'">
		<h2 class="form-signin-heading">用户信息</h2>
		<label>帐号:</label><div>{{user.name}}</div>
		<label>性别:</label><div>{{user.gender}}</div>
		<label>代码:</label><div>{{user.code}}</div>
		<label>身份证号:</label><div>{{user.idcard}}</div>
		<label>手机号:</label><div>{{user.mobile}}</div>
		<label>邮箱:</label><div>{{user.mobile}}</div>
		<button class="btn btn-lg btn-primary btn-block" ng-click="logout()">注销</button>
	</div>

</div>