<div>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>序号</th>
					<th>代码</th>
					<th>名称</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="role in roleAll">
					<td>{{$index+1}}</td>
					<td>{{role.code}}</td>
					<td>{{role.name}}</td>
					<td><button class="btn" ng-click="delRole(role)" ng-disabled="role.code=='admin'">申请</button></td>
				</tr>
			</tbody>
		</table>
		<footer class="panel-footer">
			<div class="row">
				<div class="col-xs-12 text-right text-center-xs">
					<div class="pagination pagination-sm m-t-none m-b-none">
						<ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage"
							class="pagination-sm" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;"
							first-text="&laquo;" last-text="&raquo;"></ul>
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>