<div>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>序号</th>
					<th>代码</th>
					<th>名称</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="role in roleAll">
					<td>{{$index+1}}</td>
					<td>{{role.code}}</td>
					<td>{{role.name}}</td>
					<td><button class="btn" ng-click="reqRole(role)" ng-disabled="(role.code=='admin') || (role.myStatus==1) || (role.myStatus==2) ">{{role.btnTitle}}</button></td>
				</tr>
			</tbody>
			<tfoot  ng-hide="isLastPage">
				<tr>
					<td colspan="4"><span class="center-block btn" ng-click="loadMoreRole()">加载更多...</span></td>
				</tr>
			</tfoot>
		</table>
	</div>
	<!-- 	<uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" first-text="第一页" -->
	<!-- 		previous-text="上一页" next-text="下一页" last-text="最后页" boundary-links="true" boundary-link-numbers="true"></uib-pagination> -->
</div>